<div class="dashboard-container">
  <header class="dashboard-header">
    <img src="assets/logo.png" alt="Logotipo" class="logo">
  </header>

  <div class="p-grid">
    <!-- Crescimento de novos pacientes -->
    <div class="p-col-12 p-md-6">
      <div class="p-card">
        <h3>Novos pacientes</h3>
        <p-chart type="line" [data]="crescimentoPacientesData"></p-chart>
      </div>
    </div>

    <!-- Pacientes por Faixa Etária -->
    <div class="p-col-12 p-md-6">
      <div class="p-card">
        <h3>Estado civil</h3>
        <p-chart type="pie" [data]="estadoCivilFaixaData"></p-chart>
      </div>
    </div>

    <!-- Pacientes por Renda Média -->
    <div class="p-col-12 p-md-6">
      <div class="p-card">
        <h3>Faixa etária</h3>
        <p-chart type="bar" [data]="pacientesFaixaEtariaData"></p-chart>
      </div>
    </div>


</div>
